/* CSS Document */
 
legend { font-size: 11px; font-family: tahoma; cursor: default; } 
fieldset { font-size: 11px; font-family: tahoma; cursor: default; padding-top: 8px; } 
td { font-size: 11px; font-family: tahoma; }

.label { font-size: 11px; font-family: tahoma; cursor: default; }
.text { font-size: 11px; font-family: tahoma; }
.static_text { font-size: 11px; font-family: tahoma; }
.button { font-size: 11px; font-family: tahoma; padding-top: 1px; padding-bottom: 2px }

/* can create seperate classes for OK, Cancel, and Apply and add right/left padding individually */
